serviceAccountKey.json
.vscode/
# Node.js
node_modules/

# Dart & Flutter
.dart_tool/
build/
**/build/
pubspec.lock
.flutter-plugins-dependencies
untranslated.txt
# Golden test images
apps/barnostri_app/test/golden/goldens/*.png
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.webp
*.heic
*.tiff
*.otf
*.ttf
*.pdf
*.mp3
*.mp4
*.avi
*.mov
*.zip
*.tar
*.gz
*.7z

# Optional: environment files
.env
.env.local
.env.*.local
# supabase-config.json
.flutter-plugins
